ImageUploader/.mono/*

ImageUploader/ImageUploader.Api/bin/*
ImageUploader/ImageUploader.Api/obj/*

ImageUploader/ImageUploader.Domain/bin/*
ImageUploader/ImageUploader.Domain/obj/*

ImageUploader/ImageUploader.Services/bin/*
ImageUploader/ImageUploader.Services/obj/*

ImageUploader/ImageUploader.Tests/bin/*
ImageUploader/ImageUploader.Tests/obj/*

CosmosDb/CosmosDb.Api/bin/*
CosmosDb/CosmosDb.Api/obj/*

CosmosDb/CosmosDb.Domain/bin/*
CosmosDb/CosmosDb.Domain/obj/*

CosmosDb/CosmosDb.Services/bin/*
CosmosDb/CosmosDb.Services/obj/*

CosmosDb/CosmosDb.Data/bin/*
CosmosDb/CosmosDb.Data/obj/*
